.videoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.clearBtn {
    margin-bottom: 12px;
}
.videoEl {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 8px;
}
