#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.appMainArea {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.appLeft {
  flex: 0 0 620px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.appRight {
  flex: 1;
  position: sticky;
  top: 1rem;
}
